*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
body{
    background-color: #FFF5DB;
}

.main-content{
    height: 100%;
}

.main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center; 
    align-items: center;     
    text-align: center;
    gap: 20px;
}

.main img{
    width: 20%;
    height: 20%;
}
.main h1{
    font-family: 'Inter', sans-serif;
    
}

.btn{
    position: absolute;
  bottom: 75px;
  right: 60px;
  color: black;
  padding: 12px 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

}
.btn svg{
    height: 2em;
    width: 2em;
    
}
.btn .bor{
    border: 0;
    background-color: #FFF5DB;
}
.btn p{
    font-size: 30px;
}
.container {
    max-width: 700px;
    margin: auto;
    padding: 20px;
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  .header {
    /* margin-top: 25%; */
    display: flex;
    justify-content: space-between;
    align-items: center;     
    text-align: center;
  }
  
  .logo {
    width: 20%;
  }
  
  .title {
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #000;
  }
  
  .form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
  
  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
  }
  
  .form-group input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid ;
    background: transparent;
    font-size: 1.1rem;
    outline: none;
    flex: 1;
    margin-left: 20px;
  }
  
  .gender {
    gap: 15px;
    flex-wrap: wrap;
  }
  
  .gender label {
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  button {
    background-color: #0088a9;
    color: white;
    border: none;
    padding: 10px 10px;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #006f88;
  }